
<%= link_to "Back to Contacts", contacts_path %>

<div class="subhead"><h1>Your Profile Page</h1></div>
<section>
	<ul>
		<li><p class="contact_view">Name: <%= @user.name %></p></li>

		<li><p class="contact_view">email: <%= @user.email %></p></li>

		<li><%= link_to 'Account Settings', edit_user_path %></li>
	</ul>
</section>


